
inventory-list {
    width: 100%;

    .mat-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-cell{
            font-size: 14px;
        }
        .mat-column-buttons {
            flex: 0 1 32px;
            padding-left: 18px;
        }
        .mat-header-row {
            min-height: 32px;
        }

        .inventory {
            position: relative;
            cursor: pointer;
            // height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
    }
}
