#model-form {

    .header {
        min-height: 80px
    }

    .content {
        // position: relative;

        form {
            width: 90%;
        }

        .subtitle {
            margin: 16px 6px;
        }
    }

}
