#manufacturer-form {

    .header {
        min-height: 80px
    }

    .content {
        position: relative;

        form {
            width: 380px;
        }

        // Temporary prefix alignment fix
        .mat-form-field {
            width: 100%;
        }

        .subtitle {
            margin: 6px;
        }
    }

}
